Привет\! Этот бот может запомнить твои велосипеды и показывать их всем подряд
Команда _/bikecheck_ показывает велосипед, если просто пишешь команду \- показывает твои велосипеды, если пишешь команду в ответ на чье\-то сообщение, то показывает велосипеды отправителя этого сообщения
Команда _/checkbike_ добавляет новую фотку велосипеда\. Сначала постишь в чат фотку своего велика \(отправляй картинкой, а не файлом\), потом отвечаешь на сообщение с фоткой этой командой
Команда _/setstrava_ устанавливает ссылку на страву, которая будет отображаться в твоих байкчеках\. Как и c новым байкчеком: постишь ссылку на страву отдельным сообщением, отвечаешь на него командой
Свои байкчеки можно удалять, либо восстанавливать удаленные, это делается через команду _/bikecheck_ в приватном чате с ботом
Удаленные байкчеки можно посмотреть, выполнив команду _/deleted_ в приватном чате с ботом
Свои байкчеки можно выставить на продажу, для этого надо нажать соответствующую кнопку под байкчеком в приватном чате с ботом
Байкчеки на продаже можно посмотреть, выполнив команду _/onSale_
Топовые байкчеки можно посмотреть, выполнив команду _/top_
