[Unit]
Description=velach_bot server
Documentation=https://github.com/bnopne/velach_bot
After=network.target

[Service]
Environment=VELACH_BOT_DB_DATABASE={{ DB_NAME }}
Environment=VELACH_BOT_DB_USER={{ DB_USER }}
Environment=VELACH_BOT_DB_PASSWORD={{ DB_PASSWORD }}
Environment=VELACH_BOT_TELEGRAM_TOKEN={{ TELEGRAM_TOKEN }}
Type=simple
User={{ OS_USER }}
WorkingDirectory={{ SERVER_DIR }}
ExecStart=npm run start:prod:server
Restart=on-failure

[Install]
WantedBy=multi-user.target
