[Unit]
Description=velach_bot database backup service
Wants=velach_bot_backup_db.timer

[Service]
Environment=VELACH_BOT_DB_DATABASE={{ DB_NAME }}
Environment=VELACH_BOT_DB_USER={{ DB_USER }}
Environment=VELACH_BOT_DB_PASSWORD={{ DB_PASSWORD }}
Type=oneshot
ExecStart={{ APP_DIR }}/cli --backup-db

[Install]
WantedBy=multi-user.target
